
@{
    ViewBag.Title = "PaginaPrincipal";
}

<h2>Pagina Principal</h2>

<div class="jumbotron">
    <h1 class="display-4">Bienvenido!</h1>
    
    <hr class="my-4">
    <p>Administrador de Tareas.</p>

    <h3>Developers</h3>
    <h4>
        @Html.ActionLink("Login", "Login", "Tareas")
    </h4>
    <h4>
        @Html.ActionLink("Cargar Datos", "CargaArch", "Tareas")
    </h4>

    <p> </p>
    <p> </p>
    <h3>Eres Proyect Manager?</h3>
    <h4>Ingresa aqui </h4>
    <h4>
        @Html.ActionLink("Consulta de tareas", "IndexManager", "Tareas")
    </h4>
    

</div>